<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" >
<script th:src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script th:src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<title>Recipe Home</title>
</head>
<body>
	<div class="container-fluid">
	<h1>My Recipes!</h1>
	<div>
		<p>
			A place where you can find a wide range of international recipes to let you cook the most delicious dishes for you and your family and/or friends.
		</p>
	</div>
	</div>
</body>
</html>